{% extends 'main/general.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="general2">
    <div class="article">
        <h2>Об этом сайте</h2>
        <p>
            Это сайт портфолио написанный на Django (Python).<br>
            Тут вы найдёте ссылки на автора данного сайта его<br>
            GitHub и прочие соц. сети
        </p>
    </div>
</div>

<div class="general1">
   <div class="article2">
    <h2>Почему так мало?</h2>
    <p>
        Данный сайт будет доробатываться. В будущем я<br>
        добавлю сюда свои планы и чуть больше<br>
        информации обо мне
    </p>
   </div> 
</div>
{% endblock %}
